@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/omori.png);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/amlo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-width: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ff5a2c;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.sombra{
    flex-basis: 50%;
    background-color: #0000008a;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.separado {
    margin: 0 auto;
    width: fit-content;
    
}


.header-txt h1 {
    font-size: 60px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span {
    color: #ff5a2c;
}

.video-content {
    background-image: url(images/negro.jpg);
    border-radius: 25px;
   
}

.titulo{
    width: fit-content;
    margin: 0 auto;
    color: #c50000;
}

video {
    max-width: 100%;
    border-radius: 25px;
    
}

.header-txt p {
    font-size: 17px;
    color: #e0e0e0;
    margin-bottom: 45%;
}

.buttons {
    display: flex;
}

.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #ff5a2c;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    background-color: #ffffff;
    color: #000000;
}

.btn-1:hover {
    background-color: #ff5a2c;
}

.blanco h1 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.blanco h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.blanco h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 45px;
}

img {
    height: 200px;
    width: 400px;
}
.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
   
}

.product-1 {
    background-image: url(images/negro.jpg);
    align-items: center;
}

.product-txt {
    padding: 50px 30px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #ff5a2c;
}


.contact {
    padding: 150px 250px;
    display: flex;
    justify-content: space-between;
}

.contact-content {
    background-color: #2a223a;
    text-align: center;
    padding: 50px 50px;
    border-radius: 50px;
    
}

.principal form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.principal input {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 17px;
}

.btn-3 {
    background-color: #ff5a2c;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link ul {
    display: flex;
}

.link ul li>a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;

}
.btn-abrir-popup {
    background-color: #ff5a2c;
    font-size: 20px;
    width: fit-content;
    color: #ffffff;
    padding: 20px;
    border-radius: 30px;
}

.link ul li>a:hover {
    color: #ffffff;
}

/* --------------
       pop up 
---------------- */
.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     visibility: hidden;
    
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: #312a47;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.popup .bt-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}

.popup .bt-cerrar-popup:hover {
    color: #000000;
}


.color {
    color: #c00202;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /*/opacity: 0; */
    color: #ffffff;

}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    /*/opacity: 0; */
    color: #ffffff;

}

.popup form .contenedor-inputs {}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height:  52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #524d72;
    background-color: #3f3456;
    border-radius: 25px;
    outline: none;
    color: #ffffff;

    
}

.popup form .bt-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #c04c4c ;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .3 ease all;
}

.popup form .bt-submit:hover {
    background: rgba(194, 18, 5, 0.548);
}


@media(max-width:991px) {
 
    img {
        height: 500px;
        width: 800px;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .buttons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product {
        padding: 10px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 50px 150px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }

}